#h1 {
    background-color: aquamarine;
}
#container{
    display: flex;
    text-align:center;
    gap: 10px;
}

.box{
    width: 200px;
    height: 100px;
    border: 1px solid blue;
}

.box h3{
    font-weight:bold;
    color: red;
}

#codepng{
    width: 300px;
    height: 200px;
    margin-top: 5px;
}

article h3  {
   color: blue;
   background: yellow;
   text-align: center;
   padding: 4px;
   font-weight: 800;
}

.articleP{
    background: blue;
    color: white;
    font-size: 16px;
    padding: 6px;
}